@import url("../../app.component.css");

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-header-row {
    position: sticky;
    top: 0;
    background: white;
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

  .mat-column-select {
    overflow: initial;
  }

  ::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

  .highlight{
    background: #F5F5F5;
  }
  