<div class="container mat-elevation-z8">
    <div>
        <div>
            <mat-form-field class="hebrew-text" style="float: right;margin-right: 2%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חיפוש...">
            </mat-form-field>
        </div>
        <div style="margin-top: 2%;">           
            <mat-icon (click)="loadData()" style="cursor: pointer;font-size: 30px;">refresh</mat-icon>
        </div>
    </div>
    
    <mat-table #table [dataSource]="dataSource" matSort style="cursor: context-menu;">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="stick"> שם </mat-header-cell>
            <mat-cell *matCellDef="let selector">{{selector.name}}</mat-cell>
        </ng-container> 
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> מייל </mat-header-cell>
            <mat-cell *matCellDef="let selector">{{selector.email}}</mat-cell>
        </ng-container> 
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> טלפון </mat-header-cell>
            <mat-cell *matCellDef="let selector">{{selector.phone}}</mat-cell>
        </ng-container> 
        <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> חברה </mat-header-cell>
            <mat-cell *matCellDef="let selector">{{selector.company.name}}</mat-cell>
        </ng-container> 
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{'highlight': isSelectedRow(row) }"
            (click)="onSelectRow(row)"
            class="center-text">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator
        [pageSize]="defaultPageSize"
        [pageSizeOptions]="arrPagesSize">
    </mat-paginator>
</div>