.card-config {
    width: 600px;
    height: 400px;
  }
  
  .header-image {
    background-size: cover;
  }

  /* .demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  } */