<mat-card class="card-config">
  <mat-card-header>
    <div mat-card-avatar>
        <i class="material-icons">account_circle</i>
    </div>
    <mat-card-title>{{data.selector.name}}</mat-card-title>
    <mat-card-subtitle>{{data.selector.phone}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="מידע נוסף">
        <div class="demo-tab-content">
          
        </div>
      </mat-tab>
      <mat-tab label="בחירות">
        
      <div class="demo-tab-content">
         
        </div>  
      </mat-tab>
      <mat-tab label="כללי">
       
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>שמור</button>
    <button mat-button>ביטול</button>
  </mat-card-actions>
</mat-card>
